<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="bootstrap.php"
        cacheResult="false"
        convertDeprecationsToExceptions="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        failOnRisky="true"
        failOnWarning="true"
        beStrictAboutChangesToGlobalState="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
>
    <testsuites>
        <testsuite name="parkrun-scraper">
            <directory suffix="Test.php">.</directory>
        </testsuite>
    </testsuites>
</phpunit>
